<h2>Por Región</h2>
<hr>

<div class="row">
  <div class="col text-center">
      <!-- SearchBox -->
      <button *ngFor="let region of regions"
        class="btn mx-2"
        [ngClass]="{ 'btn-primary': region === selectedRegion, 'btn-outline-primary': region !== selectedRegion }"
        (click)="searchByRegion(region)">
        {{ region | titlecase}}
      </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
