<h2>Por País</h2>
<hr>

<div class="row">
  <div class="col">
      <!-- SearchBox -->
      <shared-search-box
        (onDebounce)="searchByCountry($event)"
        [initialValue]="initialTerm"
        placeholder="Buscar por país"></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
